# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jfbug\Documents\Francisco\Universidade\Programação Distribuída\Trabalho Prático\PD2021Meta2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
